/* Initial body */
body {
	background-color: whitesmoke;
	font-family: 'Montserrat', Arial, sans-serif;
}

.side-bar {
	position: fixed;
	background-color: rgb(0,88,92);
	width: 25%;
	min-width: 280px;
	height: 100%;
	top: 0px;
	left: 0px;
}

/***Main Page and Inner Div****/

.main-page {
	position: absolute;
	height: 100%;
	left: 25%;
}

.main-page a{
	text-decoration: none;
	color: rgb(0,88,92);
}

.main-page h1 {
	font-size: 60px;
	color: rgb(0,88,92);
}

.main-page p {
	font-size: 16px;
}

.inner-main {
	padding-left: 100px;
	padding-right: 100px;
	min-width: 700px;
}

/***Menu****/

.menu {
	padding-top: 100px;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li a {
	display: block;
	color: white;
	border-top: 3px solid #044;
	padding: 15px 0 15px 16px;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
}

.menu li:last-child {
	border-bottom: 3px solid #044;
}

.menu li a:hover {
	background-color: whitesmoke;
	color: black;
}

/***Body Section Details***/

.proj-image {
	display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(0,88,92);
    margin-right: 30px;
}

.int-image {
	display: inline-block;
	width: 50px;
	height: 50px;
}

#technical-interests table {
	width: 100%;
	height: 20%;
	margin-bottom: 100px;
}

#technical-interests td {
	padding: 10px 30px 30px 0px;
}


/***Profile Picture Bubble***/

.container {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.container:after,
.con-item:before {
	content: '';
	display: table;
}

.container:after {
	clear: both;
}

.container li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

.con-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow:
	inset 0 0 0 16px rgba(255,255,255,0.4),
	0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}

.con-info {
	position: absolute;
	background: rgba(0,88,92, 0.6);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}

.con-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 110px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow:
	0 0 1px #fff,
	0 1px 2px rgba(0,0,0,0.3);
}

.bri-image {
	background-image: url(../img/bri.jpg);
}

.con-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	transition: all 1s ease-in-out 0.4s;
}

.con-info p a {
	display: block;
	color: rgba(255,255,255,0.5);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.con-info p a:hover {
	color: rgba(169,169,169, 0.8);
}

.con-item:hover {
	box-shadow:
	inset 0 0 0 1px rgba(255,255,255,0.1),
	0 1px 2px rgba(0,0,0,0.1);
}

.con-item:hover .con-info {
	transform: scale(1);
	opacity: 1;
}

.con-item:hover .con-info p {
	opacity: 1;
}