/*** Overall Body ***/

body {
	background-color: whitesmoke;
	font-family: 'Montserrat', Arial, sans-serif;
}

/*** Main Page and Inner Div ****/

#main-page {
	position: absolute;
	height: 100%;
	left: 25%;
}

#main-page h1, #main-page a {
	color: rgb(0,88,92);
}

#main-page a {
	text-decoration: none;
}

#main-page h1 {
	font-size: 54px;
}

#main-page p {
	font-size: 16px;
}

#inner-main {
	padding-left: 100px;
	padding-right: 100px;
}

.header {
	margin-top: 20px;
}

#footer {
	padding: 30px 50px 50px 0px; 
}

#footer p {
	font-size: 14px;
	color: silver;
}

/*** Responsive Menu Navbar for Smaller Screens ***/
/* Uses a bootstrap template */

.small-menu {
	display: none;
}

.navbar-collapse {
    padding-left: 0px;
 }

 .nav>li>a {
    padding: 15px 0px 15px 0px;
    margin-right: 25px;
}

.navbar-header,  #bs-navbar-collapse-1, #bs-navbar-collapse-1 a,
.navbar-default, .navbar-brand {
    background-color: rgb(0,88,92);
    color: white;	
}

.navbar-header,  #bs-navbar-collapse-1, #bs-navbar-collapse-1 a {
    border-color: #e7e7e7;
}

.navbar-default, .navbar-brand{
	background-image: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#container-navbar {
	margin-left: 35px;
}

/*** Normal Sidebar Menu ****/

#side-bar {
	background-image: url(../img/gradient.png);   
	background-repeat: repeat-y;
	position: fixed;
	height: 100%;
	max-width: 500px;
	width: 25%;
	min-width: 280px;
	top: 0px;
	left: 0px;
	padding-right: 0px;
    padding-left: 0px;
}

.menu {
	padding-top: 100px;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li a {
	display: block;
	color: white;
	border-top: 3px solid rgb(0,54,54);
	padding: 15px 0 15px 15px;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
}

.menu li:last-child {
	border-bottom: 3px solid rgb(0,54,54);
}

.menu li a:hover {
	background-color: whitesmoke;
	color: black;
}

/*** Body Section Details ***/

h1, h2, h3, h1, h2, h3, h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#small-bri-image, .proj-image {
	background-position: 50%;
    border-radius: 50%;
}

#small-bri-image {
	display: none;
    width: 100px;
    height: 100px;
    border: 5px solid rgba(0,88,92,0.6);
    margin-right: 20px;
}

.proj-image {
	display: inline-block;
    width: 200px;
    height: 200px;
    border: 15px solid rgba(0,88,92,0.6);
    margin-right: 30px;
}

.int-image {
	display: inline-block;
	width: 50px;
	height: 50px;
}

.table td tr {
	vertical-align: center;
}

#technical-interests table {
	width:100%;
	margin-bottom: 30px;
}

#technical-interests td {
	padding: 15px 15px 15px 0px;
}

/*** Profile Picture Bubble ***/
/* Source - http://tympanus.net/codrops/2012/08/08/circle-hover-effects-with-css-transitions/ */

.bubble-container {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.bubble-container:after,
.con-item:before {
	content: '';
	display: table;
}

.bubble-container:after {
	clear: both;
}

.bubble-container li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

.con-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow:
	inset 0 0 0 16px rgba(255,255,255,0.4),
	0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}

.con-info {
	position: absolute;
	background: rgba(0,88,92,0.6);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}

.con-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 150px;
	text-shadow:
	0 0 1px #fff,
	0 1px 2px rgba(0,0,0,0.3);
}

.bri-image {
	background-image: url(../img/bri.png);
}

.con-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	transition: all 1s ease-in-out 0.4s;
}

.con-info p a {
	display: block;
	color: rgba(255,255,255,0.5);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
}

.con-info p a:hover {
	color: rgba(169,169,169, 0.8);
}

.con-item:hover {
	box-shadow:
	inset 0 0 0 1px rgba(255,255,255,0.1),
	0 1px 2px rgba(0,0,0,0.1);
}

.con-item:hover .con-info  {
	transform: scale(1);
	opacity: 1;
}

.con-item:hover .con-info p  {
	opacity: 1;
}

/*** Conditional Screen Sizing Attributes ***/

@media (max-width: 900px) {
    
	#side-bar, .proj-image {
        display: none;
    }
	
	#main-page {
		left: 0%;
		width: 100%;
	}
	
	#inner-main {
		padding-left: 30px;
		padding-right: 30px;
	}

	#small-bri-image, h1 {
		display: inline-block;
	}

	.small-menu {
		display: block;
	}
	
	#inner-main h1 {
		font-size: 44px;
	}
}

@media (max-width: 768px) {

	.navbar-collapse {
    	padding-left: 15px;
 	}

 	.nav>li>a {
	    padding: 15px 15px 15px 50px;
	    margin-right: 0px;
	}

 	#container-navbar {
		margin-left: 0px;
	}

	#technical-interests h4 {
		font-size: 14px;
	}
}

@media (max-width: 400px) {

	#main-page p {
		text-align: left;
	}

	#small-bri-image {
		background-position: 50% 30%;
		width: 75px;
		height: 75px;
	}

	#inner-main h1 {
		font-size: 30px;
	}

	#inner-main h2 {
		font-size: 25px;
	}

	#technical-interests h4 {
		font-size: 12px;
	}

	.int-image {
		width: 25px;
		height: 25px;
	}
}