.header {
	text-align: left;
	color: #008a96;
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	padding-bottom: 10px;
}

.row-heading {
	padding-top: 10px;
}

.card-img-top  {
	padding-top:10px;
	margin: auto;
	display: block;
}

a {
	color: #008a96;
}

a:hover {
	text-decoration: none;
}

.contact img {
	height: 50px;
	width: 50px;
	margin: 10px;
	vertical-align: middle;
}

.contact {
	text-align: center;
	vertical-align: middle;
}

.footer {
	height: 100px;
	align-items: center;
	text-align: center;
	color: #c0c0c0;
	padding-top: 38px;
}
